<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EmployeeService后台 - 主页</title>
  <meta name="keywords" content="">
  <meta name="description"
        content="">
  <link rel="shortcut icon" href="favicon.ico">
  <link href="css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
  <link href="css/font-awesome.css?v=4.4.0" rel="stylesheet">
  <link href="css/style.css?v=4.1.0" rel="stylesheet">
</head>

<body class="gray-bg">

<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-sm-12">
      <div class="panel blank-panel">

        <div class="panel-heading">
          <div class="panel-options">
            <ul class="nav nav-tabs">
              <li class="active">
                <a data-toggle="tab" href="tabs_panels.html#tab-4" aria-expanded="false"><i
                    class="fa fa-cutlery"></i></a>
              </li>
              <li class="">
                <a data-toggle="tab" href="tabs_panels.html#tab-5" aria-expanded="false"><i
                    class="fa fa-key"></i></a>
              </li>
            </ul>
          </div>
        </div>

        <div class="panel-body">
          <div class="tab-content">
            <div id="tab-4" class="tab-pane active">

              <div class="panel panel-primary">
                <div class="panel-heading">
                  西区
                </div>
                <div class="panel-body">
                  <div class="col-sm-3">
                    <div class="ibox float-e-margins">
                      <div class="ibox-title">
                        <span class="label label-primary pull-right" name="westMwStatusName"></span>
                        <h5>微波炉状态</h5>
                      </div>
                      <div class="ibox-content">
                        <h1 class="no-margins" name="westMwStatusName"></h1>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="ibox float-e-margins">
                      <div class="ibox-title">
                        <span class="label label-success pull-right">进行中</span>
                        <h5>正在热饭人</h5>
                      </div>
                      <div class="ibox-content">
                        <h2 class="no-margins" name="westHeatingNickName"></h2>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="ibox float-e-margins">
                      <div class="ibox-title">
                        <span class="label label-warning pull-right">未开始</span>
                        <h5>排队人数</h5>
                      </div>
                      <div class="ibox-content">
                        <h1 class="no-margins" name="westWaitHeatSum"></h1>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="ibox float-e-margins">
                      <div class="ibox-title">
                        <span class="label label-info pull-right">历史</span>
                        <h5>总热饭人数</h5>
                      </div>
                      <div class="ibox-content">
                        <h1 class="no-margins" name="westHeatSum"></h1>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="panel panel-success">
                <div class="panel-heading">
                  东区
                </div>
                <div class="panel-body">
                  <div class="col-sm-3">
                    <div class="ibox float-e-margins">
                      <div class="ibox-title">
                        <span class="label label-primary pull-right" name="eastMwStatusName"></span>
                        <h5>微波炉状态</h5>
                      </div>
                      <div class="ibox-content">
                        <h1 class="no-margins" name="eastMwStatusName"></h1>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="ibox float-e-margins">
                      <div class="ibox-title">
                        <span class="label label-success pull-right">进行中</span>
                        <h5>正在热饭人</h5>
                      </div>
                      <div class="ibox-content">
                        <h2 class="no-margins" name="eastHeatingNickName"></h2>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="ibox float-e-margins">
                      <div class="ibox-title">
                        <span class="label label-warning pull-right">未开始</span>
                        <h5>排队人数</h5>
                      </div>
                      <div class="ibox-content">
                        <h1 class="no-margins" name="eastWaitHeatSum"></h1>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="ibox float-e-margins">
                      <div class="ibox-title">
                        <span class="label label-info pull-right">历史</span>
                        <h5>总热饭人数</h5>
                      </div>
                      <div class="ibox-content">
                        <h1 class="no-margins" name="eastHeatSum"></h1>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>

            <div id="tab-5" class="tab-pane">
              <h1>钥匙功能暂未开放....</h1>
            </div>
          </div>

        </div>

      </div>
    </div>

  </div>
</div>

<!-- 全局js -->
<script src="js/jquery.min.js?v=2.1.4"></script>
<script src="js/bootstrap.min.js?v=3.3.6"></script>
<script src="js/content.js?v=1.0.0"></script>

<script src="js/emjs/index_v3.js"></script>
</body>

</html>
