<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bmmtwabp.employeedashbord.dao.HeatMapper">

  <resultMap id="BaseResultMap" type="com.bmmtwabp.employeedashbord.domain.Heat">
    <id column="id" jdbcType="BIGINT" property="id"/>
    <result column="open_id" jdbcType="VARCHAR" property="openId"/>
    <result column="start_time" jdbcType="VARCHAR" property="startTime"/>
    <result column="end_time" jdbcType="VARCHAR" property="endTime"/>
    <result column="heat_status" jdbcType="INTEGER" property="heatStatus"/>
    <result column="zone" jdbcType="INTEGER" property="zone"/>
  </resultMap>

  <select id="getHeatInfo" resultMap="BaseResultMap">
    SELECT * FROM heating;
  </select>

  <insert id="insertHeat" keyProperty="id" useGeneratedKeys="true"
    parameterType="com.bmmtwabp.employeedashbord.domain.Heat">
    INSERT INTO heating
    (open_id,start_time,end_time,heat_status,zone)
    VALUES(#{openId},#{startTime},#{endTime},#{heatStatus},#{zone})
  </insert>

  <update id="readyHeat">
    UPDATE heating heat SET heat.heat_status=1
    WHERE heat.open_id=#{openId} AND heat.heat_status=0;
  </update>

  <update id="startHeat">
    UPDATE heating heat SET heat.heat_status=2,heat.start_time=#{startTime}
    WHERE heat.open_id=#{openId} AND heat.heat_status=1;
  </update>

  <update id="overHeat">
    UPDATE heating heat SET heat.heat_status=3
    WHERE heat.open_id=#{openId} AND heat.heat_status=2;
  </update>

  <select id="getHeatVoList" parameterType="com.bmmtwabp.employeedashbord.vo.QueryHeatVo"
    resultType="com.bmmtwabp.employeedashbord.vo.HeatVo">
    SELECT heat.id as heatId,heat.open_id as openId,u.nickname as nickName,u.user_img as imgUrl,
    heat.start_time as startTime,heat.end_time as endTime,dc.dict_name as heatStatusName,heat.zone
    as zoneName
    FROM heating heat
    INNER JOIN `user` u ON u.open_id=heat.open_id
    INNER JOIN dict dc ON dc.dict_value=heat.heat_status
    <where>
      <if test=" nickName !=null and nickName !='' ">
        u.nickname LIKE CONCAT('%',#{nickName},'%')
      </if>
      <if test=" heatStatusValue !=null and heatStatusValue !='' ">
        AND heat.heat_status=#{heatStatusValue}
      </if>
      <if test=" zoneName !=null and zoneName !='' ">
        AND heat.zone=#{zoneName}
      </if>
      AND dc.dict_type='heat'
    </where>
  </select>

  <select id="getHeatListForApp" resultType="com.bmmtwabp.employeedashbord.vo.HeatVo">
    SELECT heat.id as heatId,heat.open_id as openId,u.nickname as nickName,u.user_img as imgUrl,
    heat.start_time as startTime,heat.end_time as endTime,dc.dict_name as heatStatusName,heat.zone
    as zoneName
    FROM heating heat
    INNER JOIN `user` u ON u.open_id=heat.open_id
    INNER JOIN dict dc ON dc.dict_value=heat.heat_status
    WHERE dc.dict_type='heat' AND heat.zone=#{zoneName};
  </select>

</mapper>