<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bmmtwabp.employeedashbord.dao.UserMapper">

  <resultMap id="BaseResultMap" type="com.bmmtwabp.employeedashbord.domain.User">
    <id column="id" jdbcType="BIGINT" property="id"/>
    <result column="open_id" jdbcType="VARCHAR" property="openId"/>
    <result column="nickname" jdbcType="VARCHAR" property="nickName"/>
    <result column="user_img" jdbcType="VARCHAR" property="userImgPath"/>
    <result column="zone" jdbcType="INTEGER" property="zone"/>
  </resultMap>

  <select id="getAllUser" resultMap="BaseResultMap">
     SELECT * FROM user
  </select>

  <select id="getUserCountByOpenId" resultType="int">
    SELECT COUNT(*) FROM `user` u
    WHERE u.open_id=#{openId}
  </select>

  <insert id="insertUser" keyProperty="id" useGeneratedKeys="true"
    parameterType="com.bmmtwabp.employeedashbord.domain.User">
    INSERT INTO user
    (open_id,nickname,user_img,zone)
    VALUES(#{openId},#{nickName},#{userImgPath},#{zone})
  </insert>

  <select id="getUserHeatStatusByToday" resultType="int">
    SELECT heat_status FROM heating heat
    WHERE heat.open_id=#{openId} AND heat.start_time LIKE CONCAT('%',#{startTime},'%')
  </select>

</mapper>